@font-face {
  font-family: camber;
  src: url(camber.OTF);
}

html, body {
  background-image: url(images/rotate.php);
  height: 100%;
  background-size: cover;
}

.wrapper .draggable {
  cursor: pointer;
  float: left;
  clear: both;
}

#galleryLink {
  float: left;
}

#galleryLink1 {
  float: right;
}
.wrapper{
  width:660px;
  height:660px;
  margin: 0 auto;
  text-align: left;
}

.draggable {
  position: absolute;
}

.draggableimg {
  width: 110px;
  height: 110px;
  touch-action: none;
}


.inner {
  background-color: #F0F8FF;
  width:653px;
  height:653px;
  border-width: medium;
  border-color: black;
  border-style: solid;
}

#date, .textinblock {
  font-family: camber;
  color: white;
}


footer {
  display: block;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hid {display: none;}

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
  border: 3px solid whitesmoke;
}
.my-gallery figure {
  display: block;
  float: left;
  width: 120px;
}
.my-gallery figcaption {
  display: none;
}

.textblock {
  position: relative;
}

.textinblock { 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25em;
}

#quiz { 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w3-light-grey {
  width: 600px;
}
